{%load static %}
<!DOCTYPE html>

<html lang="zxx" class="no-js">
  {% load pwa %}
  
  <head>
    {% progressive_web_app_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}" />
    <meta charset="UTF-8" />

    <title>OneStopSource</title>

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500i"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{%static 'css/linearicons.css' %}" />
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{%static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{%static 'css/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{%static 'css/nice-select.css' %}" />
    <link rel="stylesheet" href="{%static 'css/animate.min.css' %}" />
    <link rel="stylesheet" href="{%static 'css/owl.carousel.css' %}" />
    <link rel="stylesheet" href="{%static 'css/main.css' %}" />
    <script src="https://kit.fontawesome.com/ba54f1c27c.js" crossorigin="anonymous"></script>
    {% block add_css%}

    {% endblock %}
  </head>
  <body>
    <header id="header">
      <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
          <div id="logo">
            <a href="/"><img src="{% static 'img/logo.png' %}" alt="" title=""/></a>
          </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li >
                  <a href="/">Home</a></li>
              <li><a href="/#about">About</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">My Profile</a></li>
                
                <li><a href="{% url 'auth_logout'%}">Logout</a></li>
                {% endif %}
              
              
            </ul>
          </nav>
        </div>
      </div>
    </header>


    {% block content%}
    
    {% endblock %}

    


    <footer class="footer-area section-gap">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 single-footer-widget">
              <h4>Newsletter</h4>
              <p>You can trust us. We only send new added Resources Information,</p>
              <div class="form-wrap" >
                <form action="{% url 'subscribe'%}" method="POST" class="form-inline">
                  {% csrf_token %}
                  <input
                    class="form-control"
                    name="subscription_email"
                    placeholder="Your Email Address"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Your Email Address '"
                    required=""
                    type="email"/>
                  <button class="click-btn btn btn-default" type="submit">
                    <span class="lnr lnr-arrow-right"></span>
                  </button>
                  
                </form>
              </div>
            </div>
          </div>
          <div class="footer-bottom row align-items-center">
            <p class="footer-text m-0 col-lg-8 col-md-12">
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved 
            </p>
          </div>
        </div>
      </footer>
  
      <div id="back-top">
        <a title="Go to Top" href="#"></a>
      </div>
  
      {% if success %}
      <script>
        alert('{{success}}');
      </script>
        
      {%endif%}


      <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
      
      <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
      
      <script src="{% static 'js/easing.min.js' %}"></script>
      <script src="{% static 'js/hoverIntent.js' %}"></script>
      <script src="{% static 'js/superfish.min.js' %}"></script>
      <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
      <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
      <script src="{% static 'js/owl.carousel.min.js' %}"></script>
      <script src="{% static 'js/owl-carousel-thumb.min.js' %}"></script>
      <script src="{% static 'js/jquery.sticky.js' %}"></script>
      <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
      <script src="{% static 'js/parallax.min.js' %}"></script>
      <script src="{% static 'js/waypoints.min.js' %}"></script>
      <script src="{% static 'js/wow.min.js' %}"></script>
      <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
      <script src="{% static 'js/mail-script.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>
  
      
      
    </body>
  
</html>
  