{% extends "resources/base.html" %}


{% load static %}

{% block add_css %}
<link rel="stylesheet" href="{%static 'css/registration.css'%}"/>
{% endblock %}


{% block content %}

<div class="container">
    <div class="row flex-column">
        <div class="logo">
            <a href="/"><img src="{% static 'img/logo.png' %}" alt="" title=""/></a>
        </div>
      <div class="col-lg-10 col-xl-6 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Password Changed Successfully </h5>
            <a href="{% url 'auth_login' %}" class="primary-btn">Login</a>
        </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}